@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }  

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

:root{

    --cor01: #000000;
    --cor02: #ffffff;

    --fonte-titulo: "Passion One", sans-serif, Verdana, Geneva, tahoma;
    --fonte-conteudo: "Sriracha", cursive;
}

body{
    background-color: var(--cor02);
    margin: 0;
    border: 0;
}

header{
    padding: 20px;
    text-align: center;
    background-color: var(--cor01);
    background-position: center top;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 128px;
    color: var(--cor02);
    margin-bottom: 20px;
    margin-top: 20px;
}

header > p{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor02);
    margin-top: 12px;
    margin-bottom: 12px;
}

.link{
    color: var(--cor02);
    text-decoration: none;
}

.link:hover{
    color: var(--cor02);
    text-decoration: underline;
}

.first{
    background-color: var(--cor02);
    font-family: var(--fonte-conteudo);
    background-attachment: fixed;
}

.first> p{
    color: var(--cor01);
    font-size: 48px;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.second {
    font-family: var(--fonte-conteudo);
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    position: relative;
    padding: 32px;
    padding-left: 0px;
    width: 100%;

}

.second > p {
    background-color: #37363669;
    height: 400px;
    width: 400px;
    background-size: 50%, 50%;
    left: 16px;
    top: 16px;
    padding: 32px;
    padding-left: 30px;
    color: var(--cor02);
    font-size: auto;
}

.third{
    background-color: var(--cor02);
    font-family: var(--fonte-conteudo);
    background-attachment: fixed;
}

.third> p{
    color: var(--cor01);
    font-size: 32px;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.four {
    font-family: var(--fonte-conteudo);
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    position: relative;
    padding: 32px;
    padding-left: 0px;
    width: 100%;
}

.four > p {
    background-color: #37363669;
    height: 400px;
    width: 400px;
    background-size: 50%, 50%;
    left: 16px;
    top: 16px;
    padding: 32px;
    padding-left: 30px;
    color: var(--cor02);
    font-size: 32px;
}

.five{
    background-color: var(--cor02);
    font-family: var(--fonte-conteudo);
    background-attachment: fixed;
}

.five> p{
    color: var(--cor01);
    font-size: 32px;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer {
    text-align: center;
    font-size: 12px;
    background-color: var(--cor01);
    color: var(--cor02);
    padding: 8px;
    margin: auto;
}

.footer a {
    color: var(--cor02);
    text-decoration: none;
}

.footer a:hover {
    color: var(--cor02);
    text-decoration: underline;
}